.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    padding: 0.5em;
    display: flex;
    justify-content: left;
    z-index: 1000;
    height: 45px; /* Explicitly set the height */
    display: none;
  }
  
  .menu-button {
    background: var(--accent-color);
    color: var(--custom-white);
    border: none;
    padding: 1em;
    border-radius: 15px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .menu-button:hover {
    background-color: var(--accent-color);
  }

  @media (max-width: 600px) {

    .bottom-bar {
        display: block;
    }
  }
  