.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .bottom-bar button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .bottom-bar button:hover {
    background-color: var(--accent-color);
  }
  