.toolbar {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  min-height: 90px; /* Adjusted height to fit both header sections */
}

.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lower-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo-image {
  max-width: 90px;
  max-height: 90px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.title {
  flex-grow: 1;
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-grow: 1;
}

.center-section .MuiButton-root {
  font-size: 1.5em;
  padding: 0.75em 1.5em;
  font-weight: bold;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.right-section a {
  color: var(--custom-white);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-section Button {
  font-weight: bold;
  background-color: var(--accept-color) !important;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  object-fit: cover;
}

.lower-header .MuiButton-root {
  font-size: 1.2em;
  padding: 0.5em 1em;
}

@media (max-width: 600px) {
  .toolbar {
    min-height: 64px;
  }

  .upper-header, .lower-header {
    flex-direction: row;
    align-items: center;
  }

  .center-section {
    flex-direction: column;
    gap: 1em;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
  }
}
