.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  min-height: 64px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo-image {
  max-width: 128px;
  max-height: 128px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.title {
  flex-grow: 1;
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-grow: 1;
}

.center-section .MuiButton-root {
  font-size: 1.5em;
  padding: 0.75em 1.5em;
  font-weight: bold;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.right-section a {
  color: var(--custom-white);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-section Button {
  font-weight: bold;
  background-color: var(--accept-color) !important;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  object-fit: cover;
}

/* New breakpoint for mobile devices */
@media (max-width: 600px) {
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-section, .center-section, .right-section {
    width: 100%;
    justify-content: space-between;
  }

  .center-section {
    flex-direction: column;
    gap: 1em;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
  }
}
