#container {
  display: grid;
  grid-template-areas: 
    "haupt aside"
    "haupt aside"
    "haupt aside";
  grid-template-columns: auto 350px; /* Fixed size for the aside column */
  grid-template-rows: auto 1fr;
  gap: 0px;
  height: 100vh;
}

body {
  background-color: var(--secondary-color);
  margin: 0; /* Ensure no default margin on body */
}

header, nav, main, aside {
  border: 1px solid var(--custom-white);
  background-color: var(--secondary-color);
  padding: 1em;
  text-align: center;
}

nav {
  grid-area: mainNav;
  overflow-y: auto;
}

main {
  grid-area: haupt;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: margin-left 0.5s;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

main.shifted {
  margin-left: 250px; /* Adjust the value based on the width of the sidebar */
}

#termine {
  grid-area: aside;
  overflow-y: auto;
  width: 350px; /* Fixed width to ensure it matches the grid template */
}

.menu-button {
  display: none;
}

@media (max-width: 1000px) {
  #container {
    grid-template-areas: 
      "haupt haupt"
      "haupt haupt"
      "haupt haupt";
    grid-template-columns: 1fr;
  }

  #termine {
    display: none;
  }
}

@media (max-width: 800px) {
  #container {
    grid-template-areas: 
      "haupt haupt"
      "haupt haupt"
      "haupt haupt";
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  header, nav, main, aside {
    padding: 0.5em;
    text-align: left;
  }

  .termin-kachel {
    flex-direction: column;
    align-items: flex-start;
  }

  .datum-bereich {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .kurs-bereich {
    width: 100%;
  }

  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 0.5em;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  .menu-button {
    display: block;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.course-navigation {
  width: 250px;
  transition: all 0.3s ease;
  position: fixed;
  top: 180px; /* Adjust this if necessary to match header height */
  left: -250px;
  height: calc(100% - 180px); /* Adjust this if necessary to match header height */
  background-color: var(--secondary-color) !important;
  z-index: 1000;
}

.course-navigation.open {
  left: 0;
}

.course-navigation .toggle-button {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--secondary-color) !important;
  color: black !important;
  padding: 10px 15px;
  border: 1px;
  border-radius: 15px;
  position: fixed;
  top: 130px; /* Adjust this if necessary to match header height */
  left: 10px;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

.course-navigation .toggle-button:hover {
  background-color: var(--accent-color) !important;
}

.course-navigation .chapter-name .MuiListItemText-primary {
  font-weight: bold !important;
}

.course-navigation .subchapter-item {
  padding-left: 32px;
}

.course-navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.course-navigation a:hover {
  color: var(--custom-white) !important;
}

.main-content {
  transition: margin-left 0.5s;
}

.shifted {
  margin-left: 250px;
}
