.termine {
  padding: 1em;
  background-color: var(--accent-color);
  overflow-y: auto;
  height: 100%;
  border-radius: 15px;
  width: 100%; /* Ensure it fits within the 300px container */
  box-sizing: border-box; /* Include padding in the width */
}

.termin-kachel {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  border: 1px solid var(--custom-white);
  padding: 1em;
  background-color: var(--custom-white);
  color: var(--text-color);
  border-radius: 15px;
  width: 100%; /* Ensure it fits within the container */
  box-sizing: border-box; /* Include padding in the width */
}

.datum-bereich {
  text-align: center;
  margin-right: 1em;
}

.wochentag {
  font-size: 1.5em;
  font-weight: bold;
}

.datum {
  font-size: 0.9em;
  font-weight: bold;
}

.uhrzeit {
  font-size: 0.8em;
  font-weight: bold;
}

.kurs-bereich {
  flex-grow: 1;
}

.kursname {
  font-size: 1.2em;
  font-weight: bold;
}

.ort {
  font-size: 1em;
}

@media (max-width: 600px) {
  .termin-kachel {
    flex-direction: column;
    align-items: flex-start;
  }

  .datum-bereich {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .kurs-bereich {
    width: 100%;
  }
}
